h1{
    text-align: center;
    font-size: 40px;
    color: rgba(137, 72, 241, 0.925);
    ;
}

p1{
    color: black ;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 40px;
    color: rgba(137, 72, 241, 0.925);

}

body {
    background-color: #9ce22b;
}

#logo{
    width: 300px;
    margin: 0;
    padding: 15;
}

ul{
    text-align: inherit;
    color: blue rgb(rgba(137, 72, 241, 0.925);
    , green, blue);
}

.cabecalho {
    background-color: blue;
    margin: 0;
    padding: 5%;
}