h1{
    text-align: center;
    font-size: 40px;
    color: rgba(137, 72, 241, 0.925);
    ;
}

p1{
    color: black ;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 40px;
    color: rgba(137, 72, 241, 0.925);

}

body {
    background-color: #ffb6c1;
}

#logo{
    width: 300px;
    margin: 0;
    padding: 15;
}

ul{
    text-align: inherit;
    color: rgb(162, 232, 235) rgb(rgba(137, 72, 241, 0.925);
    , #ffb6c1, rgb(162, 232, 235));
}

.cabecalho {
    background-color: rgb(162, 232, 235);
    margin: 0;
    padding: 5%;
}